.background {
  background-image: linear-gradient(to left, #a20089, #f1303f)
}

.logo {
  background-image: url(logo.png)
}

.progressBar {
  background-color: #f1303f
}

.splash {
  background-image: url(splash.png)
}

.watermark {
  background-image: url(watermark.png);
  background-size: 57px 57px
}